.wineandemployeewrapper {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.wineColWrap {
justify-content: center;
display: flex;
}

.wineColWrap1 {
    background-color: gray;
    height: 300px;
    overflow: auto;
    width: 80%;
}

.employeeColWrap {
    justify-content: center;
    display: flex;
}

.employeeColWrap1 {
    background-color: gray;
    height: 300px;
    overflow: auto;
    width: 80%;
}

.empTitleWrap {
    display: flex;
    justify-content: center;
    width: 100%;
}
.empTitleWrap1 {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.wineTitleWrap {
    display: flex;
    justify-content: center;
    width: 100%;
}
.wineTitleWrap1  {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.nav-link:link {
    text-decoration-style: none;
}
.active {
    text-decoration-style: none;
}

a:link {
    text-decoration: none;
  }