.overlay {

  position: absolute;

  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(253, 227, 167, 1);
  /* background: -webkit-gradient(linear, left top, left bottom, from(rgb(248, 252, 250)), to(rgb(102, 42, 42))) fixed; */
  z-index: 2;
  /* cursor: pointer; */
  overflow: auto;
  
}

.wrap1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.wrap2{
width: 70%;
/* background: rgb(150, 142, 142); */

}

.wrap3{
  width: 100%;
  /* background: rgb(150, 142, 142); */
  justify-content: center;
display: flex;
flex-direction: row;
    }

    .signUpwrap {
      width: 50%;
      margin: 20px;
    }
    .loginwrap {
      width: 50%;
      margin: 20px;
    }

    

    .btnwrap {
      justify-content: center;
      display: flex;
      margin-bottom: 20px;
    }

    textarea:focus, input:focus{
      outline: none;
      background-color: none;
      
  }
  .form-control {
    width: 90%;
    background-color: transparent;
    font-family: 'Special Elite', cursive;
    font-size: 18px;
border-top-style: none;
border-left-style: none;
border-right-style: none;
border-bottom-style: solid;
border-bottom-width: 1px;
border-radius: 0;
margin-top:10px;
margin-bottom:10px;
  }

  input::selection{
    background-color:  transparent;
  }

  /* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
background-color: transparent;
} */
  
 input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background: none;
  /* -webkit-background-fill-color: rgb(112, 7, 21); */
  -webkit-text-fill-background-color: rgb(112, 7, 21);
  /* -webkit-box-shadow: 0 0 0px 0px#000 inset; */
  transition: background-color 5000s ease-in-out 0s;
  
}
  ::-moz-selection{
    background-color:  transparent;
  } 
    .form-control::-webkit-input-placeholder { color: none; }  /* WebKit, Blink, Edge */

.form-control:-moz-placeholder { color: none; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: none; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: none; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: none; }  /* Microsoft Edge */




/* FONTS */
.signuptext{
  font-family: 'Pacifico', cursive;
font-size: 25px;
margin-bottom: 20px;
/* font-family: 'Lobster', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Yellowtail', cursive;
font-family: 'Leckerli One', cursive;
font-family: 'Shrikhand', cursive;
font-family: 'Montez', cursive;
font-family: 'Sail', cursive;
font-family: 'Libre Barcode 128 Text', cursive;
font-family: 'IM Fell DW Pica SC', serif;
font-family: 'Zilla Slab Highlight', cursive; */

}


.logintext{
  font-family: 'Pacifico', cursive;
font-size: 25px;
margin-bottom: 20px;
/* font-family: 'Lobster', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Yellowtail', cursive;
font-family: 'Leckerli One', cursive;
font-family: 'Shrikhand', cursive;
font-family: 'Montez', cursive;
font-family: 'Sail', cursive;
font-family: 'Libre Barcode 128 Text', cursive;
font-family: 'IM Fell DW Pica SC', serif;
font-family: 'Zilla Slab Highlight', cursive; */

}

label {

  font-family: 'Satisfy', cursive;
font-size: 20px;

  /* 
  font-family: 'Special Elite', cursive;
  font-family: 'Satisfy', cursive;
    font-family: 'IM Fell DW Pica SC', serif;
font-family: 'Zilla Slab Highlight', cursive; */
}


.submitbtnsignup{
color:white;
    background-color: rgb(190, 39, 77);
    border-style: none;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    font-size: 15px;
  }


.submitbtnsignup:focus {
  outline: none !important;
}

button:focus {
  outline: none !important;
}




.submitbtnsignup:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
  cursor: pointer;
}



.loginbtnsignup{
  color:white;
      background-color: rgb(190, 39, 77);
      border-style: none;
      height: 40px;   
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 50px;
      font-size: 15px;
    }

  .loginbtnsignup:focus {
    outline: none !important;
  }

  button:focus {
    outline: none !important;
  }

  .loginbtnsignup:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
    cursor: pointer;
  }



  .loginsignupbtnmain{
    color:white;
        background-color: rgb(190, 39, 77);
        border-style: none;
        height: 40px;   
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 50px;
        font-size: 15px;
      }
  
    .loginsignupbtnmain:focus {
      outline: none !important;
    }
  
    button:focus {
      outline: none !important;
    }
  
    .loginsignupbtnmain:hover {
      -ms-transform: scale(1.2); /* IE 9 */
      -webkit-transform: scale(1.2); /* Safari 3-8 */
      transform: scale(1.2); 
      cursor: pointer;
    }

  
  .tannintextwrap {
    text-align: center;
    margin-top: 20px;
font-size: 40px;
color: rgb(190, 39, 77);
font-family: 'Pacifico', cursive;
  }
  
  .fa-chevron-circle-left  {
    font-size: 30px;
    color: rgb(233, 181, 86);
  }

  .backtohome {
    border-style: none;
    background-color: transparent;
  }


 
.loginsignupbtnmainwrap {
  height: 100vh;
 position: relative;
}

.loginsignupbtnmainwrap2 {
  
    position: absolute;
    top: 10%;
    left:45%;
    transform: translateY(-50%);
}

.message {
  color: red;
  font-weight: bold;
}



@media (device-height: 812px) and (device-width: 375px) and (-webkit-min-device-pixel-ratio: 2){
  .loginsignupbtnmainwrap2 {
  
    position: absolute;
    top: 10%;
    left:33%;
    transform: translateY(-50%);
}

.wrap3{
  width: 100%;
  /* background: rgb(150, 142, 142); */
  justify-content: center;
display: flex;
flex-direction: column;
    }

    .signUpwrap {
      width: 100%;
      margin: 20px;
    }

    .loginwrap {
      width: 100%;
      margin: 20px;
    }

}

@media (device-height: 375px) and (device-width: 812px) and (-webkit-min-device-pixel-ratio: 2){
  .loginsignupbtnmainwrap2 {
  
    position: absolute;
    top: 10%;
    left:33%;
    transform: translateY(-50%);
}

.wrap3{
  width: 100%;
  /* background: rgb(150, 142, 142); */
  justify-content: center;
display: flex;
flex-direction: column;
    }

    .signUpwrap {
      width: 100%;
      margin: 20px;
    }

    .loginwrap {
      width: 100%;
      margin: 20px;
    }
}

@media (device-height: 736px) and (device-width: 414px) and (-webkit-min-device-pixel-ratio: 2){
  .loginsignupbtnmainwrap2 {
  
    position: absolute;
    top: 10%;
    left:33%;
    transform: translateY(-50%);
}

.wrap3{
  width: 100%;
  /* background: rgb(150, 142, 142); */
  justify-content: center;
display: flex;
flex-direction: column;
    }

    .signUpwrap {
      width: 100%;
      margin: 20px;
    }

    .loginwrap {
      width: 100%;
      margin: 20px;
    }

}


@media (device-height: 667px) and (device-width: 375px) and (-webkit-min-device-pixel-ratio: 2){
  .loginsignupbtnmainwrap2 {
  
    position: absolute;
    top: 10%;
    left:33%;
    transform: translateY(-50%);
}

.wrap3{
  width: 100%;
  /* background: rgb(150, 142, 142); */
  justify-content: center;
display: flex;
flex-direction: column;
    }

    .signUpwrap {
      width: 100%;
      margin: 20px;
    }

    .loginwrap {
      width: 100%;
      margin: 20px;
    }

}

@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
  .loginsignupbtnmainwrap2 {
  
    position: absolute;
    top: 10%;
    left:33%;
    transform: translateY(-50%);
}

.wrap3{
  width: 100%;
  /* background: rgb(150, 142, 142); */
  justify-content: center;
display: flex;
flex-direction: column;
    }

    .signUpwrap {
      width: 100%;
      margin: 20px;
    }

    .loginwrap {
      width: 100%;
      margin: 20px;
    }

}

@media (device-height: 823px) and (device-width: 411px) and (-webkit-min-device-pixel-ratio: 2){
  .loginsignupbtnmainwrap2 {
  
    position: absolute;
    top: 10%;
    left:33%;
    transform: translateY(-50%);
}

.wrap3{
  width: 100%;
  /* background: rgb(150, 142, 142); */
  justify-content: center;
display: flex;
flex-direction: column;
    }

    .signUpwrap {
      width: 100%;
      margin: 20px;
    }

    .loginwrap {
      width: 100%;
      margin: 20px;
    }

}


@media (device-height: 731px) and (device-width: 411px) and (-webkit-min-device-pixel-ratio: 2){
  .loginsignupbtnmainwrap2 {
  
    position: absolute;
    top: 10%;
    left:33%;
    transform: translateY(-50%);
}

.wrap3{
  width: 100%;
  /* background: rgb(150, 142, 142); */
  justify-content: center;
display: flex;
flex-direction: column;
    }

    .signUpwrap {
      width: 100%;
      margin: 20px;
    }

    .loginwrap {
      width: 100%;
      margin: 20px;
    }

}


@media (device-height: 640px) and (device-width: 360px) and (-webkit-min-device-pixel-ratio: 2){
  .loginsignupbtnmainwrap2 {
  
    position: absolute;
    top: 10%;
    left:33%;
    transform: translateY(-50%);
}

.wrap3{
  width: 100%;
  /* background: rgb(150, 142, 142); */
  justify-content: center;
display: flex;
flex-direction: column;
    }

    .signUpwrap {
      width: 100%;
      margin: 20px;
    }

    .loginwrap {
      width: 100%;
      margin: 20px;
    }

}


@media (device-height: 1366px) and (device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2){
  .loginsignupbtnmainwrap2 {
  
    position: absolute;
    top: 10%;
    left:44%;
    transform: translateY(-50%);
}

.wrap3{
  width: 100%;
  /* background: rgb(150, 142, 142); */
  justify-content: center;
display: flex;
flex-direction: column;
    }

    .signUpwrap {
      width: 100%;
      margin: 20px;
    }

    .loginwrap {
      width: 100%;
      margin: 20px;
    }

}

@media (device-height: 1024px) and (device-width: 768px) and (-webkit-min-device-pixel-ratio: 2){
  .loginsignupbtnmainwrap2 {
  
    position: absolute;
    top: 10%;
    left:42%;
    transform: translateY(-50%);
}

.wrap3{
  width: 100%;
  /* background: rgb(150, 142, 142); */
  justify-content: center;
display: flex;
flex-direction: column;
    }

    .signUpwrap {
      width: 100%;
      margin: 20px;
    }

    .loginwrap {
      width: 100%;
      margin: 20px;
    }

}


@media (max-width: 750px){

  .wrap3{
  width: 100%;
    /* background: rgb(150, 142, 142); */
  justify-content: center;
  display: flex;
  flex-direction: column;
      }

      .signUpwrap {
        width: 100%;
        margin: 20px;
      }
  
      .loginwrap {
        width: 100%;
        margin: 20px;
      }

}

