.wrapper {
  margin-top: 20px;
  height: 100%;
  display: flex;


  overflow: auto;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  /* background: -webkit-gradient(linear, left top, left bottom, from(#8f75cc), to(rgb(70, 44, 119))) fixed; */

}

  .contain1 {
    justify-content: center;
    display: flex;
    width: 100%;
    
    }