.wrapper {
  padding-top: 50px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  align-content: flex-start;
  overflow: auto;
  justify-content: center;
  width: 80%;
  margin-left: 120px;
  
}

  .contain1 {
    justify-content: center;
    display: flex;
    width: 100%;
    
    }