.wrapper {
  margin-top: 20px;
  height: 100%;
  display: flex;


  overflow: auto;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;

  
}

  .contain1 {
    justify-content: center;
    display: flex;
    width: 100%;
    
    }