.wineandemployeewrapper {
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 100vw;
    width:100%;
}
.wineCol {
  width:50%;
}

.employeeCol {
  width:50%;
}
.wineColWrap {
justify-content: center;
display: flex;

}

.wineColWrap1 {
    background-color: gray;
    height: 300px;
    overflow: auto;
    width: 80%;
}

.employeeColWrap {
    justify-content: center;
    display: flex;
}

.employeeColWrap1 {
    background-color: gray;
    height: 300px;
    overflow: auto;
    width: 80%;
}

.empTitleWrap {
    display: flex;
    justify-content: center;
    width: 100%;
}
.empTitleWrap1 {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.wineTitleWrap {
    display: flex;
    justify-content: center;
    width: 100%;
}
.wineTitleWrap1  {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.nav-link:link {
    text-decoration-style: none;
}
.active {
    text-decoration-style: none;
}

a:link {
    text-decoration: none;
    color: none;
  }

  button:focus {
    outline: none !important;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }

  .btnadminpage {
    color:white;
    background-color: red;
    border-style: none;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    font-size: 15px;
  }
.btnadminpagewrap {
  justify-content: center;
  display: flex;
  margin-top: 150px;
}

::-webkit-scrollbar { 
  display: none; 
}


  .navbar-brand:focus {
    outline: none !important;

  }

  .btn:focus {
    outline: none !important;
  }
  .nav-link:focus {
    outline: none !important;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }


  button:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }

  .cardwrapper1 {
    justify-content: center;
    display: flex;
    height: 100%;
    overflow: hidden;
    background-color: rgb(131, 11, 61);
    margin-top: 50px;
}
.cardwrapper2 {
width: 80%;
height: 650px;
overflow: auto;
}

.allwrap { 
  justify-content: center;
flex-direction: row;
display: flex;
height: 100%;
}

.mainWrapper1 {
  width:40%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(5, 5, 5)), to(rgb(59, 58, 58))) fixed;
  color:white;  
  margin: 0;
  box-shadow: 5px 3px 6px rgb(192, 187, 187), 0 3px 6px #999;
}

.cardwrapper0 {
  width:60%;
  height: 100%;
  background-color: rgb(131, 11, 61);
  position:relative;
}



.winesheader {
  justify-content: center;
  display: flex;
  position:absolute;
  width: 100%;
  background-color: rgb(131, 11, 61, .8);
  color: white;
}

.winesheader2 {
  justify-content: center;
  display: flex;
  position:absolute;
  text-align: center;
  /* background-color: rgba(8, 8, 8, 0.5); */
}

span {
  font-family: 'Lato', sans-serif;
}

