.wineandemployeewrapper {
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    width:100%;
    margin:0;
}

.container {
  margin: 0;
  height: 100%;
}
.brandCol {
  width:20%;
  /* background-color: rgb(120, 107, 156); */
   /* background: -webkit-gradient(linear, left top, left bottom, from(rgb(24, 23, 23)), to(rgb(103, 83, 194))) fixed; */
   /* background: -webkit-gradient(linear, left top, left bottom, from(rgb(24, 23, 23)), to(rgb(44, 35, 83))) fixed; */
   background-color: rgb(74, 53, 107); 
  color: rgb(8, 8, 8);
  height: 100vh;

}
.wineCol {
  width:40%;
  background-color: rgba(253, 227, 167, 1); 
}

.employeeCol {
  width:40%;
  margin: 0;
  background-color: rgba(253, 227, 167, 1); 

}
.wineColWrap {
justify-content: center;
display: flex;


}

.wineColWrap1 {
    background-color: rgb(228, 118, 118);
    /* background-color: rgb(124, 76, 103); */
    height: 70vh;
    overflow: auto;
    width: 80%;
    margin-top: 20px;
    border-radius: 10px;
    /* border-style: solid; */
    /* border-width: 10px; */
    border-color: rgb(73, 22, 22);  
    box-shadow: 5px 6px 6px rgb(49, 46, 46), 0 3px 3px rgb(59, 58, 58);

}

.employeeColWrap {
    justify-content: center;  
    display: flex;
}

.employeeColWrap1 {
    background-color: rgb(130, 156, 80);
    height: 70vh;
    overflow: auto;
    width: 80%;
    margin-top: 20px;
    border-radius: 10px;
    /* border-style: solid;
    border-width: 10px; */
    box-shadow: 5px 6px 6px rgb(49, 46, 46), 0 3px 3px rgb(59, 58, 58);
}

.empTitleWrap {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top:  50px;
}
.empTitleWrap1 {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.wineTitleWrap {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top:  50px;
}
.wineTitleWrap1  {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.nav-link:link {
    text-decoration-style: none;
}
.active {
    text-decoration-style: none;
}

a:link {
    text-decoration: none;
    color: none;
  }

  button:focus {
    outline: none !important;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }

  .btnadminpage {
    color:rgb(3, 3, 3);
    /* background-color: rgb(173, 24, 61); */
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    font-size: 15px;
    border-color: rgb(7, 7, 7);
  }
.btnadminpagewrap {
  justify-content: center;
  display: flex;
  margin-top: 100px;
}

::-webkit-scrollbar { 
  display: none; 
}


  .navbar-brand:focus {
    outline: none !important;

  }

  .nav-link:focus {
    outline: none !important;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }

  .btn:focus {
    outline: none !important;
  }
  

  button:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
    cursor: pointer;
  }

  .cardwrapper1 {
 
    width: 80%;
    height: 80vh;
/* beige */
    background-color: rgba(253, 227, 167, 1); 
    
}

.cardwrapper1a {
  justify-content: center;
  display: flex;
  width: 100%;
  background-color: rgba(253, 227, 167, 1);
  /* background-color: black; */

  /* height: 100vh; */
  
  
}


.cardwrapper2 {
width: 80%;
height: 80vh;
border-radius: 20px;
overflow: auto;
}

.allwrap { 
  justify-content: center;
flex-direction: row;
display: flex;
height: 100vh;
}

.mainWrapper1 {
  width:40%;
  background-color: rgba(253, 227, 167, 1);
  /* background: -webkit-gradient(linear, left top, left bottom, from(rgb(5, 5, 5)), to(rgb(59, 58, 58))) fixed; */
  color:white;  
  margin: 0;
  box-shadow: 5px 3px 6px rgb(192, 187, 187), 0 3px 6px #999;
  height: 100vh;
}

.cardwrapper0 {
  width:60%;
  height: 100%;

  background-color: rgba(253, 227, 167, 1);
  /* background-color: rgb(131, 11, 61); */
  
}



.winesheader {
  justify-content: center;
  display: flex;
  /* position:absolute; */
  width: 80%;
  background-color: rgba(253, 227, 167, 1);
  /* background-color: rgb(131, 11, 61, .8); */
  color: black;
  font-family: 'Pacifico', cursive;
}

.texttannin {
  color: rgb(173, 24, 61);
  font-size: 40px;
  font-family: 'Pacifico', cursive;
}

.texttanninwrap {
  justify-content: center;
  display: flex;
}

.textwinecolwrap {
  justify-content: center;
  display: flex;
  color: black;
  font-family: 'Satisfy', cursive;
  font-size: 20px;
}
.winesheader2 {
  justify-content: center;
  display: flex;
  position:absolute;
  text-align: center;
  /* background-color: rgba(8, 8, 8, 0.5); */
}

span {
  font-family: 'Lato', sans-serif;
}

.fa-user-plus {
  font-size:40px;
  /* text-shadow: 2px 2px #6d6767; */
  color: rgb(25, 69, 71);
  
  
}

.addempbtnmain {
  background-color: rgb(100, 194, 123);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  border-style:none;
}

.addwinebtnmain {
  background-color: rgb(136, 34, 97);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  border-style:none;
}

.fa-wine-bottle{
  font-size:40px;
  color: rgb(231, 200, 160);

}

.submitanswersbtn{
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}

.submitFinal:focus {
  outline: none !important;
}

button:focus {
  outline: none !important;
}


.submitFinal:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
  cursor: pointer;
}

.submitFinal {
  color:white;
  background-color: rgb(173, 24, 61);
  border-style: none;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  font-size: 15px;
  margin-bottom: 50px;
}

.background {
  background-color: rgba(253, 227, 167, 1);
  height: 100%;
}

.qcardwrapper1 {
display: flex;
  justify-content: center;
}

.qcardwrapper2 {
  background-color: black;
  width: 100%;
  height: 80vh;
  overflow: auto;
  border-radius: 20px;

}


.welcomebtn {
  color:white;
  /* background-color: rgb(110, 90, 223); */
    background-color: transparent;

  border-style: solid;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  font-family: Arial, Helvetica, sans-serif;



  /* height: 70px; */
  /* padding-left: 20px;
  padding-right: 20px; */
  /* border-radius: 10px; */
  font-size: 15px;
  margin-bottom: 50px;
  font-size: 25px;


}
p {
  margin: 0;
}

.welcomebtn{
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}

.welcomebtn:focus {
  outline: none !important;
}

button:focus {
  outline: none !important;
}


.welcomebtn:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
  cursor: pointer;
}

.welcomebtnwrap {
  justify-content: center;
  display: flex;
  margin-top: 50px;
}

.empwelcomebtn {
  color:white;
  background-color: rgb(110, 90, 223);
  border-style: none;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 50px;

 
}

.empwelcomebtn{
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}

.empwelcomebtn:focus {
  outline: none !important;
}

button:focus {
  outline: none !important;
}


.empwelcomebtn:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
  cursor: pointer;
}

.empwelcomebtnwrap {
  justify-content: center;
  display: flex;
  margin-top: 50px;
}

.textadmin{
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  
}

/* EMPLOYEEPAGE */


.employeepagewrapper {
  justify-content: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    width:100%;
    margin:0;
}

.emppagecol {
  width:100%;
  background-color: rgba(253, 227, 167, 1); 
  height: 100vh;
}

.emppagemainwrap {
  justify-content: center;
  display: flex;
}

.emppanel {
  width: 30%;

  background: -webkit-gradient(linear, left top, left bottom, from(rgb(24, 23, 23)), to(rgb(103, 83, 194))) fixed;
  height: 100vh;
}

.emppageColWrap {
  justify-content: center;
  display: flex;
  
  
  }
  
  .emppageColWrap1 {
      background-color: gray;
      height: 70vh;
      overflow: auto;
      width: 80%;
      margin-top: 20px;
      border-radius: 30px;
      border-style: solid;
      border-width: 10px;
      border-color: rgb(71, 67, 67);
  
  }