.listitemdiv3 {
    justify-content: center;
    display: flex;
        width:100%;
    }
    
    .overlayRestowine {
    
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgb(54, 53, 53, .1);
        z-index: 2;
        cursor: pointer;
        transition-delay: 10s;
        transition-timing-function: ease-in;
        overflow: hidden;
        
      }
    
      .winecollectiondiv1 {
        margin:20px;
        padding: 10px;
        color: rgb(238, 221, 182);
        background-color: rgb(173, 24, 61);
        /* background-color: rgb(187, 25, 66); */
          /* background-color: rgba(218, 73, 121, 0.8); */
        /* background-color: rgb(243, 210, 210); */
        width: 80%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    
      }
    
      .winecollectionname1 {
     
        justify-content: space-between;
        display: flex;
    }
    
      .fa-plus-circle {
          color:rgb(231, 102, 177)
      }
    
      .btnadd {
          height: 20px;
          width: 30px;
          border-radius: 50%;
          border-style: none;
          background-color: transparent;
          margin-right: 10px;
      }
      .fontitalicsmall{
          padding-bottom:5px;
          font-size: 20px;
      }
    
      .winenamebtn1 {
        padding-bottom:5px;
        font-size: 20px;
        margin: 0;
        background-color: transparent;
        border-style: none;
       margin-left:20px;
       color: rgb(236, 226, 201);
       font-family: 'Special Elite', cursive;
       letter-spacing: 2px;
      }
    
      .winenamebtn1:focus {
        outline: none !important;
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1); 
      }
    
      .restowineinfo1 {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
      
      .restowineinfo2{
      width: 50%;
      height: 450px;
background: rgb(131, 103, 161);
border-style:solid;
border-width: 10px;
border-color:  rgb(63, 28, 97);
border-radius: 50px;
padding: 20px;
overflow: auto;

      
      }

      .infodetails {
        margin-bottom: 5px;
        width: 100%;
        word-break: break-all ;
      }
      
      .restowineinfo3{
        width: 100%;
        justify-content: center;
      display: flex;
          }

          .wineinfowrap {
            width: 50%;
            margin: 20px;
          }

          .fontitalicbarcode {
          font-family: 'Libre Barcode 128 Text', cursive;
          font-size: 20px;
          color: black;
          text-align: center;

          }

          .winedelbtn {
            background-color: transparent;
            border-style: none;
          }
          .fa-minus-circle{
font-size: 20px;
          }