.card {
  background: white;
  border-radius: 2px;
  border: 3px solid black;
  height: 200px;
  margin: 1rem;
  position: relative;
  width: 100%;
  box-shadow: 0 3px 6px #862c00, 0 3px 6px #771002;
  text-align: left;
}

/* .card:hover {
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.05); 
  transition:all 0.3s ease;
} */

/* .card > .img-container {
  height: 100%;
  background: white;
  overflow: hidden;
  text-align: bottom;
  background:transparent;
} */

/* .card > .img-container > img {
  width: 100%;
  background: white;
  height: 100%
} */

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

/* .card > .content > ul > li {
  margin-top: 5px;
} */

.fade:hover {
  
   -ms-transform: scale(1.2); /* IE 9 */
      -webkit-transform: scale(1.2); /* Safari 3-8 */
      transform: scale(1.2); 
      transition:all 0.5s ease;
}